<%- include('./includes/head.ejs') %> 
      </head>

      <body>
            <%- include('./includes/navigation.ejs') %> 
            <h1 class="text-center">Error 500</h1>
            <h2 class="text-center"><%= message %></h2>
            <p class="text-center">Sorry...</p>
<%- include('./includes/end.ejs') %> 
